<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Login</title>

		<!--Google Fonts-->
		<link href="https://fonts.googleapis.com/css?family=Quicksand:500|Work+Sans:400,600" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600" rel="stylesheet"> 
		<!--END OF Google Fonts-->

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<script src="js/loginApp.js"></script>

		<link rel="stylesheet" href="main.css" type=text/css>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	</head>

	<body id="loginApp" ng-app="login" ng-controller="LoginController">
		<div class="container">
			<div class="row justify-content-center mt-5">
				<i class="fa fa-smile-o float-left" style="font-size:48px; color: #46344e" aria-hidden="true"></i>
				<h4>HI!</h4>
			</div>
		</div>

		<div class="row modal-dialog text-center">
			<div class="col-8 col-sm-8 col-md-10 main-section">
				<div class="modal-content bg-color montserrat">
					<div class="col-12 pb-4 pt-2">
						<h4 class="form-header text-white mt-2"><b>Login <span class="text-color">TMDb</span></b></h4>
					</div>
					
					<form class="col-12" id="form" name="form" ng-submit="submitLogin(username, password, form)" ng-model="users">
						<div class="form-group" ng-show="isError">
							<span class="alert alert-danger custom-alert">Invalid Username or Password</span>
						</div>

						<div class="form-group">
							<!--<label for="inputUsername" class="col-sm-2 col-form-label">Username</label>-->
							<input type="text" class="form-control" id="inputUsername" name="inputUsername" placeholder="Username" ng-model="username" required>
						</div>

						<div class="form-group">
							<!--<label for="inputPassword" class="col-sm-2 col-form-label">Password</label>-->
							<input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Password" ng-model="password" required>
						</div>

						<div class="form-group p-2">
							<input type="submit" class="btn custom-button text-white-transparent" id="submit" value="Submit">
						</div>
					</form>
				</div>
			</div>
		</div>
		<!--
		<p>form = username: {{username}}, password: {{password}}</p>
		<p>master = {{master}}</p>
		-->
	</body>
</html>